{% extends 'base.html' %}

{% load static %}

{% block title %}Balita Single{% endblock %}

{% block content %}

<div class="container logo-wrap">
      <div class="row pt-5">
            <div class="col-12 text-center">
                  <a class="absolute-toggle d-block d-md-none" data-toggle="collapse" href="#navbarMenu" role="button"
                        aria-expanded="false" aria-controls="navbarMenu"><span class="burger-lines"></span></a>
                  <h1><a href="{% url 'home' %}">Balita</a></h1>
            </div>
      </div>
</div>
<nav class="navbar navbar-expand-md  navbar-light bg-light">
      <div class="container">
            <div class="collapse navbar-collapse" id="navbarMenu">
                  <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                              <a class="nav-link active" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="category.html" id="dropdown05"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                              <div class="dropdown-menu" aria-labelledby="dropdown05">
                                    {% for cat in categories %}
                                    <a class="dropdown-item" href="category.html">{{ cat.name }}</a>
                                    {% endfor %}
                              </div>
                        </li>
                        <li class="nav-item">
                              <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                              <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                  </ul>
            </div>
      </div 
</nav>
      </header>

      <section class="site-section py-lg">
            <div class="container">
                  <div class="row blog-entries">
                        <div class="col-md-12 col-lg-8 main-content">
                              <h1 class="mb-4">{{ article.name }}</h1>
                              <div class="post-meta">
                                    <span class="category">{{ article.category }}</span>
                                    <span class="mr-2">{{ article.created_at }} </span> &bullet;
                                    <span class="ml-2"><span class="fa fa-comments"></span> {{ article.comments_article.count }}</span>
                              </div>
                              <div class="post-content-body">
                                    <p>{{ article.description_1|slice:':200'|safe }}</p>
                                    <p>{{ article.description_2|safe }}</p>
                                    <p>{{ article.description_3 }}</p>
                                    <div class="row mb-5">
                                          <div class="col-md-12 mb-4 element-animate">
                                                <img src="{{ article.image_1.url }}" alt="Image placeholder" class="img-fluid">
                                          </div>
                                          <div class="col-md-6 mb-4 element-animate">
                                                <img src="{{ article.image_2.url }}" alt="Image placeholder" class="img-fluid">
                                          </div>
                                          <div class="col-md-6 mb-4 element-animate">
                                                <img src="{{ article.image_3.url }}" alt="Image placeholder" class="img-fluid">
                                          </div>
                                    </div>
                              </div>
                              <div class="pt-5">
                                    <p>Category: <a href="#">{{ article.category.name }}</a> Tags: {% for tag in article.tags.all %}<a href="#">{{ tag.name }}</a>{% endfor %}</p>
                              </div>
                              <div class="pt-5">
                                    <h3 class="mb-5">{{ article.comments_article.count }} Comments</h3>
                                    <ul class="comment-list">
                                          {% for comment in article.comments_article.all %}
                                          <li class="comment">
                                                <div class="vcard">
                                                      <img src="{{ comment.user.image.url }}" alt="Image placeholder">
                                                </div>
                                                <div class="comment-body">
                                                      <h3>{{ comment.user.get_full_name }}</h3>
                                                      <div class="meta">{{ comment.created_at }}</div>
                                                      <p>{{ comment.comment|safe }}</p>
                                                      <p><a href="{{ article.get_absolute_url }}" class="reply">Reply</a></p>
                                                </div>
                                          </li>
                                          {% endfor %}
                                    </ul>

                                    <div class="comment-form-wrap pt-5">
                                          <h3 class="mb-5">Leave a comment</h3>
                                          <form method="post" class="p-5 bg-light">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                      <label for="name">Name *</label>
                                                      <input type="text" class="form-control" name="name" id="name">
                                                </div>
                                                <div class="form-group">
                                                      <label for="email">Email *</label>
                                                      <input type="email" class="form-control" name="email" id="email">
                                                </div>
                                                <div class="form-group">
                                                      <label for="website">Website</label>
                                                      <input type="url" class="form-control" name="web_site" id="website">
                                                </div>
                                                <div class="form-group">
                                                      <label for="message">Message</label>
                                                      <textarea name="comment" id="message" cols="30" rows="10"
                                                            class="form-control"></textarea>
                                                </div>
                                                <div class="form-group">
                                                      <input type="submit" value="Post Comment" class="btn btn-primary">
                                                </div>
                                          </form>
                                    </div>
                              </div>
                        </div>

                        {% include 'rside.html' %}

                  </div>
            </div>
      </section>
      <section class="py-5">
            <div class="container">
                  <div class="row">
                        <div class="col-md-12">
                              <h2 class="mb-3 ">Related Post</h2>
                        </div>
                  </div>
                  <div class="row">
                        {% for article in related_articles %}
                        <div class="col-md-6 col-lg-4">
                              <a href="{% url 'article-detail' article.slug %}" class="a-block d-flex align-items-center height-md"
                                    style="background-image: url('{{ article.image_1.url }}'); ">
                                    <div class="text">
                                          <div class="post-meta">
                                                <span class="category">{{ article.category }}</span>
                                                <span class="mr-2">{{ article.created_at|date }} </span> &bullet;
                                                <span class="ml-2"><span class="fa fa-comments"></span> {{ article.comments_article.count }}</span>
                                          </div>
                                          <h3>{{ article.name }}</h3>
                                    </div>
                              </a>
                        </div>
                        {% endfor %}
                  </div>
            </div>
      </section>

      {% endblock %}